@use "sass:math";

@use "~@mdn/minimalist/sass/vars/mdn-web-docs-palette" as *;
@use "~@mdn/minimalist/sass/vars/layout" as *;
@use "~@mdn/minimalist/sass/vars/typography" as *;

.sidebar {
  font-size: $small-font-size;
  padding: $base-spacing;

<<<<<<< HEAD
  .backdrop {
    display: none;
  }

  // apply drawer styles only to the sizes that need them.
  @media screen and (max-width: #{$screen-md - 1}) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    z-index: var(--z-index-top);
    transform: translateX(-100%);

    .sidebar-inner {
      transform: translateX(-100%);
      overflow: hidden; //animations look janky if scrollbars are present
      will-change: transform;
      transition: 0.2s linear transform;
      position: relative;
      padding: 1rem;
      width: 80vw;
      max-width: 20rem;
      height: 100vh;
      max-height: 100vh;
      overflow: auto;
      background: var(--background-primary);
      border-right: 1px solid var(--border-primary);
      z-index: var(--z-index-top);
    }

    .backdrop {
      opacity: 0;
      will-change: opacity;
      transition: opacity 0.2s linear;

      display: flex;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: var(--z-index-mid);
      border-radius: 0;
      cursor: default;
    }

    &.is-animating {
      transform: translateX(0);
    }

    &.is-expanded {
      transform: translateX(0); // no transition on this one, just show it.

      .sidebar-inner {
        transform: translateX(0);
      }

      .backdrop {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    display: flex;
    overflow: auto;
    position: sticky;
    top: 0;
    max-height: 100vh;
  }

  &-heading {
    font: var(--type-heading-h6);
    color: var(--text-primary);
    letter-spacing: 1.5px;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
  }

  em {
    display: inline-flex;
    padding: 0.25rem;
    hyphens: auto;
  }

  a {
    display: inline-flex;
    padding: 0.25rem;
    color: var(--text-secondary);
    hyphens: auto;

    &[aria-current="page"] {
      background: var(--border-secondary);
      border-radius: var(--elem-radius);
    }
  }

  .no-link {
    display: inline-flex;
    padding: 0.25rem;
  }

  // TODO: Find these and add a class, if possible. These are section headings
  strong {
    margin-top: 1rem;
    display: flex;
=======
  h4 {
    font-family: $heading-font-family;
    font-size: $medium-font-size;
    margin-bottom: $base-spacing;
>>>>>>> parent of dbaddf2c7 (Redesign (#5337))
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    ol,
    ul {
<<<<<<< HEAD
      padding-left: 0.5rem;
    }

    ol {
      li {
        list-style-type: "· ";

        .icon {
          margin-right: 0.01em;
        }
        &.no-bullet {
          display: block;
          font-weight: var(--font-body-strong-weight);
          list-style-type: none;
        }
=======
      @media #{$mq-tablet-and-up} {
        padding-left: math.div($base-spacing, 2);
>>>>>>> parent of dbaddf2c7 (Redesign (#5337))
      }
    }
  }

  summary,
  li {
    margin-bottom: math.div($base-spacing, 2);
  }

  a {
    hyphens: auto;
  }

  code {
    background-color: transparent;
    white-space: normal;
    word-wrap: break-word;
  }

  summary {
    cursor: pointer;
  }

  details {
    margin: $base-spacing 0;
  }

  .icon {
    background-size: 18px;
    height: 18px;
    width: 18px;
  }

  /* icons in sidebars */
  .icon-experimental,
  .icon-nonstandard {
    color: $mdn-blue700;
  }

  .icon-deprecated {
    color: $mdn-red700;
  }
}
